<mat-card class="main-card">
  <mat-card-title>Stock Watcher</mat-card-title>
  <mat-card-subtitle>By Or Abudi</mat-card-subtitle>
  <mat-card-actions>
    <div>
      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label>Username</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>
    </div>
    <div>
      <button mat-button class="google-sign-in">
        Sign In With Google
        <img src="../../../assets/google-icon.svg" class="google-icon" />
      </button>
    </div>
    <!-- <button mat-button>Register</button> -->
    <button mat-button>Login</button>
  </mat-card-actions>
</mat-card>
