@use "~@angular/material" as mat;

@include mat.core();

// TODO: change the colors of the pallete
$stockWatcher-Frontend-primary: mat.define-palette(mat.$light-blue-palette);
$stockWatcher-Frontend-accent: mat.define-palette(
  mat.$yellow-palette,
  A200,
  A100,
  A400
);
$stockWatcher-Frontend-warn: mat.define-palette(mat.$red-palette);
$stockWatcher-Frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $stockWatcher-Frontend-primary,
      accent: $stockWatcher-Frontend-accent,
      warn: $stockWatcher-Frontend-warn,
    ),
  )
);

@include mat.all-component-themes($stockWatcher-Frontend-theme);

// for Dark Theme
// TODO: change the colors of the pallete
$stockWatcher-primary-dark: mat.define-palette(mat.$blue-palette);
$stockWatcher-accent-dark: mat.define-palette(
  mat.$orange-palette,
  A200,
  A100,
  A400
);
$stockWatcher-warn-dark: mat.define-palette(mat.$red-palette);
$stockWatcher-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $stockWatcher-primary-dark,
      accent: $stockWatcher-accent-dark,
      warn: $stockWatcher-warn-dark,
    ),
  )
);

.dark-mode-theme {
  @include mat.all-component-themes($stockWatcher-theme-dark);
}
